# Git
.git
.gitignore

# Frontend
frontend/node_modules
frontend/dist
frontend/.env*

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
ulas-service
vendor/

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Misc
README.md
compose.yml
Containerfile
frontend/Containerfile
