# Binaries
first i want to add admin and non admin rights where the username will be added as ADMIN into a table and if its not added as ADMIN its a read only     │
 │   user. the admin can run scans change baselines
*.exe
*.dll
*.so
*.dylib

# Go
vendor/

# Frontend
frontend/node_modules
frontend/dist
frontend/.env*

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Env
.env
!.env.example
helper.txt
